@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset and Base Styles */
html {
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  overscroll-behavior: none;
}

#root {
  height: 100%;
  width: 100%;
}

iframe {
  display: block; /* Prevents tiny whitespace at bottom of inline elements */
  width: 100%;
  height: 100%;
  border: none;
}

.safe-top {
  padding-top: env(safe-area-inset-top, 20px);
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom, 20px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}